@import '/src/styles/theme/colors/setttings.scss';
@import './src/styles/theme/responsive/settings.scss';

.details {
	width: 50%;
	background: $grey;
	padding: 24px;
	display: flex;
	flex-direction: column;

	.details__actions-container {
		display: flex;
		margin-bottom: 24px;

		.details__favorite-button {
			background: $grey-2;
			border-radius: 10px;
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: $white;

			img {
				margin-right: 8px;
			}
		}

		.details__favorite-button--favorite {
			background: $blue-2;
		}

		.details__close-button {
			margin-left: auto;
			display: flex;
			margin-left: auto;
			background: $grey-2;
			padding: 8px;
		}
	}

	.details__description {
		font-weight: bold;
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 4px;
		word-break: break-word;
	}

	.details__user {
		display: flex;
		align-items: center;
		color: $grey-4;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;

		img {
			margin-right: 8px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}
	}

	.details__machine {
		margin-top: auto;
		border-top: 1px solid $grey-2;
		padding-top: 24px;
		display: flex;
		flex-wrap: wrap;

		.details__machine-detail {
			width: 33%;
			margin-bottom: 24px;

			.details__machine-detail-title {
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				color: $grey-3;
			}

			.details__machine-detail-value {
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: $grey-5;
			}
		}
	}
}

@include mobile {
	.details {
		height: 55%;
		width: 100%;

		.details__actions-container {
			position: absolute;
			top: 12px;
			right: 12px;
			left: 12px;
			margin: 0;
		}

		.details__description {
			font-size: 18px;
			line-height: 21px;
			margin: 0 0 10px 0;
		}

		.details__user {
			font-size: 12px;
			line-height: 14px;

			img {
				width: 18px;
				height: 18px;
			}
		}

		.details__machine {
			margin-top: 12px;
			padding-top: 12px;

			.details__machine-detail {
				width: 50%;
				margin-bottom: 18px;
			}
		}
	}
}
