@import './src/styles/theme/responsive/settings.scss';

.gallery {
	padding: 24px;
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(
		auto-fill,
		minmax(calc(20% - 24px), calc(20% - 24px))
	);

	@include mobile {
		grid-template-columns: repeat(
			auto-fill,
			minmax(calc(50% - 24px), calc(50% - 24px))
		);
	}
}
