@import '../../../../styles/theme/colors/setttings.scss';

.rounded-button {
	border: none;
	background: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
}

.rounded-button--selected {
	background: $grey-3;
}
